.vscode/**
.vscode-test/**
test/**
demo/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
esbuild.mjs
node_modules/
dist/*.js.map
dist/package.*
